{% extends 'base.html' %}

{% block content %}
<div class="row">

  <aside class="col-md-4 col-lg-3 d-none d-md-block" id="home-aside">
    <div class="card user-card">
      <div style="border-radius: 5px;">
        <div class="image-wrapper">
          <img src="/static/images/book2.png" alt="" class="card-hero">
        </div>
        <a href="{{url_for('show_user', id=current_user.id)}}" class="card-link">
          <img src="{{current_user.image_url}}"
               alt="Image for {{current_user.username}}"
               class="card-image">
          <p>{{current_user.username}}</p>
        </a>
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Stories</p>
            <h4>
              <a href="{{url_for('show_stories')}}">{{current_user.stories | length}}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Characters</p>
            <h4>
              <a href="{{url_for('show_characters')}}">{{current_user.characters | length}}</a>
            </h4>
          </li>
        </ul>
      </div>
    </div>    
  </aside>

  <div class="col-lg-6 col-md-8 col-sm-12">
    <h3>Let's Make a Story!</h3>
    <hr>
    <div>
      <div class="row justify-content-md-center">
        <form method="POST" action='/story/generate'>
          {{form.hidden_tag()}}
          
          <div class="d-flex">
            <div class="form-fields col-lg-4 col-md-5">
              {% for field in form
                if field.widget.input_type != 'hidden' %}
              {% for error in field.errors %} 
              <span class="text-danger">{{error}}</span> 
              {% endfor %}
              <div class="form-fields">
                <label><u>{{field.label.text}}</u></label> 
                {{field}}
              </div>
              {% endfor %}
            </div>
            <div class="character-list col-lg-4 col-md-5">
              <p style="margin-bottom: 0px;"><u>Characters</u></p>
              {% if characters.total == 0 %}
              <a href="{{url_for('add_character')}}"><h5>Create</h5></a><p class="d-none d-md-block"> a character, to personalize your story!</p>
              {% else %}
              {% for character in characters.items %}
              <label style="display: block">
                <input type="checkbox" name="characters" value="{{character.id}}"> {{character.name}}
              </label>
              {% endfor %}
              <div class="pagination">
                {% if characters.has_prev %}
                <a href="{{url_for('homepage', page=characters.prev_num)}}">Previous</a>
                {% endif %}
                {% if characters.has_next %}
                <a href="{{url_for('homepage', page=characters.next_num)}}">Next</a>
                {% endif %}
              </div>
              {% endif %}
            </div>
          </div>
          
          <div class="edit-btn-area justify-content-center">
            <button id="generate-story" class="btn btn-primary">Generate Story!</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}