{% extends 'base.html' %}

{% block content %}

<div id="venture-hero" class="full-width">
  <img src="/static/images/book2.png" alt="Background Image" id="profile-background">
</div>
<div class="d-none d-lg-block">
  <img src="{{current_user.image_url}}" alt="Image for {{current_user.username}}" id="profile-avatar">
</div>

{% if story %}
<div class="row"><h4>"{{story.title}}"</h4></div>
<div class="row"><p class="indent">{{story.start_content}}</p></div>
<hr>
{% if story.end %}
<div class="row">
  <h4><i>The End</i></h4>
</div>
{% else %}
  {% for step in steps %}
  <div class="row story-step">
    <form method="POST" action="{{url_for('continue_story', id=story.id)}}">
      <input type="hidden" name="step_id" value="{{step.id}}">
      <p>{{step.content}}</p>
      <button id="generate-story" type="submit" class="btn btn-outline-secondary btn-sm btn-block">Choose</button>
    </form>
  </div>
{% endfor %}
{% endif %}
{% else %}
<div class="row" style="margin-top: 10px;"><h3><a href="{{url_for('homepage')}}">Create</a> a Story!</h3></div>
{% endif %}
{% endblock %}